In [1]:
import numpy as np 
import pandas as pd

In [2]:
import pandas as pd
df=pd.read_csv("marketprice.csv")
print(df)

               Date     Price
0    2/22/2019 0:00   3944.88
1    2/23/2019 0:00   3983.48
2    2/24/2019 0:00   4139.60
3    2/25/2019 0:00   3766.89
4    2/26/2019 0:00   3848.33
..              ...       ...
361  2/18/2020 0:00   9703.93
362  2/19/2020 0:00  10180.65
363  2/20/2020 0:00   9604.72
364  2/21/2020 0:00   9606.86
365  2/22/2020 0:00   9696.58

[366 rows x 2 columns]

In [3]:
#Store the data into the variable df
df = pd.read_csv('marketprice.csv')
df.head(7)

             Date    Price
0  2/22/2019 0:00  3944.88
1  2/23/2019 0:00  3983.48
2  2/24/2019 0:00  4139.60
3  2/25/2019 0:00  3766.89
4  2/26/2019 0:00  3848.33
5  2/27/2019 0:00  3831.45
6  2/28/2019 0:00  3833.23

In [4]:
df.drop(['Date'], 1, inplace=True)

In [5]:
df.head(7)

     Price
0  3944.88
1  3983.48
2  4139.60
3  3766.89
4  3848.33
5  3831.45
6  3833.23

In [6]:
#A variable for predicting 'n' days out into the future
prediction_days = 60 #n = 60 days

#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['Price']].shift(-prediction_days)

In [7]:
#Show the first 7 rows of the new data set
df.head(7)

     Price  Prediction
0  3944.88     5377.19
1  3983.48     5518.16
2  4139.60     5434.19
3  3766.89     5195.61
4  3848.33     5292.83
5  3831.45     5280.19
6  3833.23     5301.29

In [8]:
df.tail(7)

        Price  Prediction
359   9904.17         NaN
360   9937.67         NaN
361   9703.93         NaN
362  10180.65         NaN
363   9604.72         NaN
364   9606.86         NaN
365   9696.58         NaN

In [9]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[ 3944.88]
 [ 3983.48]
 [ 4139.6 ]
 [ 3766.89]
 [ 3848.33]
 [ 3831.45]
 [ 3833.23]
 [ 3850.08]
 [ 3834.62]
 [ 3831.44]
 [ 3814.58]
 [ 3730.98]
 [ 3872.25]
 [ 3876.85]
 [ 3886.82]
 [ 3875.96]
 [ 3950.56]
 [ 3928.17]
 [ 3881.09]
 [ 3892.51]
 [ 3877.77]
 [ 3885.21]
 [ 3936.5 ]
 [ 4015.95]
 [ 3994.92]
 [ 3998.77]
 [ 4029.11]
 [ 4056.4 ]
 [ 3992.34]
 [ 3999.06]
 [ 4011.92]
 [ 3994.11]
 [ 3935.89]
 [ 3947.74]
 [ 4048.51]
 [ 4037.37]
 [ 4115.55]
 [ 4114.44]
 [ 4114.16]
 [ 4152.53]
 [ 4882.88]
 [ 4959.81]
 [ 4911.24]
 [ 5028.77]
 [ 5053.52]
 [ 5189.39]
 [ 5268.71]
 [ 5175.81]
 [ 5310.18]
 [ 5035.02]
 [ 5072.85]
 [ 5064.62]
 [ 5152.51]
 [ 5036.18]
 [ 5196.65]
 [ 5220.37]
 [ 5276.31]
 [ 5277.04]
 [ 5309.28]
 [ 5281.83]
 [ 5377.19]
 [ 5518.16]
 [ 5434.19]
 [ 5195.61]
 [ 5292.83]
 [ 5280.19]
 [ 5301.29]
 [ 5260.65]
 [ 5269.79]
 [ 5326.67]
 [ 5390.16]
 [ 5657.14]
 [ 5771.08]
 [ 5717.66]
 [ 5684.47]
 [ 5755.72]
 [ 5936.72]
 [ 6146.91]
 [ 6348.02]
 [ 7248.31]
 [ 6978.63]
 [ 7823.11]
 [ 7992.69]
 [ 8206.9 ]
 [ 7885.96]
 [ 7362.22]
 [ 7265.05]
 [ 8193.7 ]
 [ 8007.03]
 [ 7952.5 ]
 [ 7625.93]
 [ 7880.29]
 [ 8003.26]
 [ 8071.45]
 [ 8744.42]
 [ 8770.06]
 [ 8719.88]
 [ 8662.98]
 [ 8272.46]
 [ 8553.81]
 [ 8554.8 ]
 [ 8739.03]
 [ 8134.92]
 [ 7675.8 ]
 [ 7786.04]
 [ 7803.23]
 [ 7998.29]
 [ 7931.34]
 [ 7640.61]
 [ 8020.38]
 [ 7917.58]
 [ 8173.06]
 [ 8237.88]
 [ 8693.6 ]
 [ 8859.47]
 [ 8978.99]
 [ 9327.48]
 [ 9076.18]
 [ 9281.7 ]
 [ 9531.35]
 [10209.38]
 [10668.63]
 [10814.48]
 [11017.5 ]
 [11766.4 ]
 [12932.55]
 [11132.85]
 [12374.35]
 [11890.38]
 [10737.73]
 [10578.72]
 [10805.4 ]
 [11984.76]
 [11160.49]
 [10955.16]
 [11232.04]
 [11477.01]
 [12313.08]
 [12586.78]
 [12099.9 ]
 [11352.87]
 [11803.97]
 [11389.1 ]
 [10186.96]
 [10873.5 ]
 [ 9397.72]
 [ 9674.28]
 [10638.56]
 [10535.75]
 [10764.9 ]
 [10587.41]
 [10323.62]
 [ 9844.3 ]
 [ 9772.17]
 [ 9875.17]
 [ 9848.65]
 [ 9473.99]
 [ 9530.  ]
 [ 9501.33]
 [ 9589.13]
 [10084.7 ]
 [10407.17]
 [10529.55]
 [10814.57]
 [10980.23]
 [11787.99]
 [11465.67]
 [11960.82]
 [11996.41]
 [11856.64]
 [11282.22]
 [11566.84]
 [11386.26]
 [10858.12]
 [10016.96]
 [10302.17]
 [10359.44]
 [10214.52]
 [10317.6 ]
 [10917.26]
 [10760.56]
 [10129.4 ]
 [10111.98]
 [10405.81]
 [10143.8 ]
 [10135.06]
 [10360.28]
 [10171.95]
 [ 9717.82]
 [ 9484.55]
 [ 9577.99]
 [ 9600.9 ]
 [ 9769.79]
 [10386.64]
 [10621.29]
 [10584.16]
 [10577.8 ]
 [10317.47]
 [10487.21]
 [10406.31]
 [10313.66]
 [10101.03]
 [10159.32]
 [10420.16]
 [10363.9 ]
 [10361.33]
 [10310.43]
 [10265.63]
 [10190.36]
 [10157.59]
 [10275.88]
 [10173.11]
 [ 9979.49]
 [10033.05]
 [ 9683.38]
 [ 8553.61]
 [ 8432.23]
 [ 8055.64]
 [ 8193.9 ]
 [ 8225.  ]
 [ 8056.74]
 [ 8307.74]
 [ 8322.92]
 [ 8382.03]
 [ 8236.17]
 [ 8155.48]
 [ 8147.69]
 [ 7869.74]
 [ 8212.02]
 [ 8190.  ]
 [ 8587.92]
 [ 8586.9 ]
 [ 8269.73]
 [ 8308.01]
 [ 8283.76]
 [ 8353.54]
 [ 8162.16]
 [ 8002.51]
 [ 8076.78]
 [ 7954.15]
 [ 7960.04]
 [ 8231.06]
 [ 8222.52]
 [ 8026.76]
 [ 7469.56]
 [ 7431.88]
 [ 8666.79]
 [ 9259.8 ]
 [ 9551.54]
 [ 9218.76]
 [ 9433.35]
 [ 9164.62]
 [ 9147.98]
 [ 9252.99]
 [ 9301.18]
 [ 9206.16]
 [ 9418.05]
 [ 9310.19]
 [ 9343.34]
 [ 9204.24]
 [ 8766.04]
 [ 8809.41]
 [ 9037.12]
 [ 8717.81]
 [ 8801.52]
 [ 8762.42]
 [ 8632.32]
 [ 8457.69]
 [ 8482.7 ]
 [ 8503.93]
 [ 8175.99]
 [ 8120.8 ]
 [ 8081.81]
 [ 7617.07]
 [ 7286.35]
 [ 7324.03]
 [ 6907.4 ]
 [ 7130.25]
 [ 7163.63]
 [ 7523.83]
 [ 7431.  ]
 [ 7757.47]
 [ 7557.72]
 [ 7402.69]
 [ 7309.59]
 [ 7296.77]
 [ 7192.85]
 [ 7395.97]
 [ 7547.19]
 [ 7504.83]
 [ 7522.39]
 [ 7337.42]
 [ 7220.76]
 [ 7202.31]
 [ 7189.16]
 [ 7251.87]
 [ 7067.74]
 [ 7111.14]
 [ 6879.54]
 [ 6612.12]
 [ 7284.29]
 [ 7150.86]
 [ 7190.17]
 [ 7143.2 ]
 [ 7514.41]
 [ 7322.08]]

In [10]:
#CREATE THE DEPENDENT DATA SET (y) 
# Convert the dataframe to a numpy array (All of the values including the NaN's) 
y = np.array(df['Prediction'])  
# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[ 5377.19  5518.16  5434.19  5195.61  5292.83  5280.19  5301.29  5260.65
  5269.79  5326.67  5390.16  5657.14  5771.08  5717.66  5684.47  5755.72
  5936.72  6146.91  6348.02  7248.31  6978.63  7823.11  7992.69  8206.9
  7885.96  7362.22  7265.05  8193.7   8007.03  7952.5   7625.93  7880.29
  8003.26  8071.45  8744.42  8770.06  8719.88  8662.98  8272.46  8553.81
  8554.8   8739.03  8134.92  7675.8   7786.04  7803.23  7998.29  7931.34
  7640.61  8020.38  7917.58  8173.06  8237.88  8693.6   8859.47  8978.99
  9327.48  9076.18  9281.7   9531.35 10209.38 10668.63 10814.48 11017.5
 11766.4  12932.55 11132.85 12374.35 11890.38 10737.73 10578.72 10805.4
 11984.76 11160.49 10955.16 11232.04 11477.01 12313.08 12586.78 12099.9
 11352.87 11803.97 11389.1  10186.96 10873.5   9397.72  9674.28 10638.56
 10535.75 10764.9  10587.41 10323.62  9844.3   9772.17  9875.17  9848.65
  9473.99  9530.    9501.33  9589.13 10084.7  10407.17 10529.55 10814.57
 10980.23 11787.99 11465.67 11960.82 11996.41 11856.64 11282.22 11566.84
 11386.26 10858.12 10016.96 10302.17 10359.44 10214.52 10317.6  10917.26
 10760.56 10129.4  10111.98 10405.81 10143.8  10135.06 10360.28 10171.95
  9717.82  9484.55  9577.99  9600.9   9769.79 10386.64 10621.29 10584.16
 10577.8  10317.47 10487.21 10406.31 10313.66 10101.03 10159.32 10420.16
 10363.9  10361.33 10310.43 10265.63 10190.36 10157.59 10275.88 10173.11
  9979.49 10033.05  9683.38  8553.61  8432.23  8055.64  8193.9   8225.
  8056.74  8307.74  8322.92  8382.03  8236.17  8155.48  8147.69  7869.74
  8212.02  8190.    8587.92  8586.9   8269.73  8308.01  8283.76  8353.54
  8162.16  8002.51  8076.78  7954.15  7960.04  8231.06  8222.52  8026.76
  7469.56  7431.88  8666.79  9259.8   9551.54  9218.76  9433.35  9164.62
  9147.98  9252.99  9301.18  9206.16  9418.05  9310.19  9343.34  9204.24
  8766.04  8809.41  9037.12  8717.81  8801.52  8762.42  8632.32  8457.69
  8482.7   8503.93  8175.99  8120.8   8081.81  7617.07  7286.35  7324.03
  6907.4   7130.25  7163.63  7523.83  7431.    7757.47  7557.72  7402.69
  7309.59  7296.77  7192.85  7395.97  7547.19  7504.83  7522.39  7337.42
  7220.76  7202.31  7189.16  7251.87  7067.74  7111.14  6879.54  6612.12
  7284.29  7150.86  7190.17  7143.2   7514.41  7322.08  7250.69  7192.72
  7194.4   7243.93  7301.07  7385.36  7219.6   7168.31  7175.68  6944.33
  7326.35  7347.89  7351.57  7759.24  8165.47  8042.65  7817.92  8184.66
  8021.49  8173.97  8105.24  8842.42  8813.89  8722.03  8900.34  8910.85
  8703.36  8626.47  8722.26  8658.94  8388.11  8428.17  8327.36  8588.42
  8895.78  9385.69  9279.81  9502.37  9333.77  9378.09  9314.56  9284.51
  9162.14  9614.9   9755.66  9807.54  9907.12 10162.41  9854.79 10275.38
 10354.3  10242.43 10368.53  9904.17  9937.67  9703.93 10180.65  9604.72
  9606.86  9696.58]

In [11]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[ 7250.69]
 [ 7192.72]
 [ 7194.4 ]
 [ 7243.93]
 [ 7301.07]
 [ 7385.36]
 [ 7219.6 ]
 [ 7168.31]
 [ 7175.68]
 [ 6944.33]
 [ 7326.35]
 [ 7347.89]
 [ 7351.57]
 [ 7759.24]
 [ 8165.47]
 [ 8042.65]
 [ 7817.92]
 [ 8184.66]
 [ 8021.49]
 [ 8173.97]
 [ 8105.24]
 [ 8842.42]
 [ 8813.89]
 [ 8722.03]
 [ 8900.34]
 [ 8910.85]
 [ 8703.36]
 [ 8626.47]
 [ 8722.26]
 [ 8658.94]
 [ 8388.11]
 [ 8428.17]
 [ 8327.36]
 [ 8588.42]
 [ 8895.78]
 [ 9385.69]
 [ 9279.81]
 [ 9502.37]
 [ 9333.77]
 [ 9378.09]
 [ 9314.56]
 [ 9284.51]
 [ 9162.14]
 [ 9614.9 ]
 [ 9755.66]
 [ 9807.54]
 [ 9907.12]
 [10162.41]
 [ 9854.79]
 [10275.38]
 [10354.3 ]
 [10242.43]
 [10368.53]
 [ 9904.17]
 [ 9937.67]
 [ 9703.93]
 [10180.65]
 [ 9604.72]
 [ 9606.86]
 [ 9696.58]]

In [13]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine (Regression) using the radial basis function
svr_rbf = SVR(kernel='rbf', C=2e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=2000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [14]:

# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence*100,"%")

svr_rbf accuracy:  60.18486779373542 %

In [15]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[ 9652.82637663 10445.21178221  7298.03718437 10478.80868286
  7524.4748425  10586.48110192 10369.50229341 11035.0892652
  8426.27202691 10094.20430021  7968.20846835  8061.5443735
  8766.51948582  8643.52176515  7632.52498171  5774.29974307
 10112.26596016  6609.5672303   8671.63027504 10072.58785859
  9699.54236988  8384.44507738 11123.93300952  7970.51064782
  7514.87551063 10954.06948816  8920.42804251  8918.29785387
  7843.67821333  9187.42541383 10248.85413593  9484.06366422
  8569.31207997  9307.21345423  8192.05244173  7540.90841997
  5288.69555545  8257.73442577  8605.91149921  7342.20119203
  8339.94126792  9177.12264314 10598.58233545  8779.94730232
  8643.72419329  7702.91611538  7870.12202595  5380.59521464
  9033.19217076  9479.25307097  8304.83077815  9157.27838792
  7273.51069169  7820.49402729  9137.17264237 10276.87629871
  5936.61971858  9809.79069004 11380.24127408  6649.11735243
  9347.49498746  8574.65309987]

[ 9674.28 10360.28  7880.29  7954.15  7243.93  8236.17 10814.57 11803.97
  8237.88 10354.3   8173.06  7402.69 10016.96  9310.19  7202.31  6978.63
  8382.03  5377.19  8719.88  9600.9  12099.9   6907.4  11160.49  8739.03
  7220.76 10805.4   9343.34  8553.81  7067.74 10275.88  8586.9   9327.48
  9683.38  7322.08  8222.52  7625.93  5390.16  8554.8   7931.34  7175.68
  8120.8   9206.16 10405.81  8859.47  8076.78  7557.72  8770.06  5280.19
  7431.   10129.4   9037.12  9418.05  8007.03  7385.36 10033.05 10578.72
  7248.31 11465.67 12313.08  8071.45 12374.35  7817.92]

In [16]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[ 9692.94717744  9845.94175237  9841.78360309  9711.62869654
  9551.71937848  9353.70884546  9777.25411926  9904.14966811
  9887.02109088 10170.0999473   9483.45766707  9429.80477764
  9421.23181131 10881.71692689  7818.0103407   9222.79515072
 11033.67844727  7687.92529878  9507.04574613  7756.39355123
  8413.8466807   8747.43656112  8717.54181079  8701.26624272
  8803.33736952  8808.37658737  8716.78332039  8808.91234824
  8701.11059808  8769.42805354  8101.77912664  8359.88505463
  7726.00424815  8835.75969325  8800.42721031  7600.97687049
  7349.8605965   8478.31114425  7388.58307351  7560.15552829
  7352.73918268  7345.6230532   7835.9488226   9227.78656934
  9208.50179323  8955.69526728  8403.86039129  8312.67869608
  8684.47300137  8572.12932439  8698.18969651  8506.12128205
  8718.57942655  8418.08052634  8272.76806212  9350.86566338
  8359.12800895  9182.87220861  9192.80054993  9359.28340927]

In [17]:
import pandas as pd
svm_prediction = svr_rbf.predict(prediction_days_array)
print("Predicted values are :",svm_prediction)
#Print the actual price for the next 'n' days, n=prediction_days=30
pd.read_csv("marketprice.csv")
l=df.values.tolist()
actual_value=[i[0] for i in l]
print("Actual values are :",actual_value[:60])

Predicted values are : [ 9692.94717744  9845.94175237  9841.78360309  9711.62869654
  9551.71937848  9353.70884546  9777.25411926  9904.14966811
  9887.02109088 10170.0999473   9483.45766707  9429.80477764
  9421.23181131 10881.71692689  7818.0103407   9222.79515072
 11033.67844727  7687.92529878  9507.04574613  7756.39355123
  8413.8466807   8747.43656112  8717.54181079  8701.26624272
  8803.33736952  8808.37658737  8716.78332039  8808.91234824
  8701.11059808  8769.42805354  8101.77912664  8359.88505463
  7726.00424815  8835.75969325  8800.42721031  7600.97687049
  7349.8605965   8478.31114425  7388.58307351  7560.15552829
  7352.73918268  7345.6230532   7835.9488226   9227.78656934
  9208.50179323  8955.69526728  8403.86039129  8312.67869608
  8684.47300137  8572.12932439  8698.18969651  8506.12128205
  8718.57942655  8418.08052634  8272.76806212  9350.86566338
  8359.12800895  9182.87220861  9192.80054993  9359.28340927]
Actual values are : [3944.88, 3983.48, 4139.6, 3766.89, 3848.33, 3831.45, 3833.23, 3850.08, 3834.62, 3831.44, 3814.58, 3730.98, 3872.25, 3876.85, 3886.82, 3875.96, 3950.56, 3928.17, 3881.09, 3892.51, 3877.77, 3885.21, 3936.5, 4015.95, 3994.92, 3998.77, 4029.11, 4056.4, 3992.34, 3999.06, 4011.92, 3994.11, 3935.89, 3947.74, 4048.51, 4037.37, 4115.55, 4114.44, 4114.16, 4152.53, 4882.88, 4959.81, 4911.24, 5028.77, 5053.52, 5189.39, 5268.71, 5175.81, 5310.18, 5035.02, 5072.85, 5064.62, 5152.51, 5036.18, 5196.65, 5220.37, 5276.31, 5277.04, 5309.28, 5281.83]

In [18]:

# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence*100,"%")

svr_rbf accuracy:  60.18486779373542 %